{% extends 'base.html' %}

{% block title %}
    Add Comment
{% endblock %}

{% block body %}
    <div>
        <h2>"{{ news.shortname }}"</h2>
        <p>{{ news.description }}</p>
        <ul>
            {% for comment in comments %}
                <li>
                    {{ comment.content }}<br>
                    <span class="text-muted">
                        Author: {{ comment.author }} | Date: {{ comment.created_at }}
                    </span>
                </li>
            {% empty %}
                <li>No comments yet.</li>
            {% endfor %}
        </ul>
    </div>
    <h1>Add Comment</h1>
    <form method="post" class="form-inline">
        {% csrf_token %}
        <div class="form-group col-auto">
            {{ form.content.label_tag }}
            {{ form.content }}
        </div>
        <button type="submit" class="btn btn-primary ml-2">Add Comment</button>
    </form>
    <ul>
        <li>
            <a href="{% url 'premier_league:index' %}">Back to Home</a>
        </li>
    </ul>
{% endblock %}
