{% extends 'base.html' %}

{% block title %}
    Premier League Home
{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: space-between;">
        <div>
            <h1>Welcome to the Premier League</h1>
            <ul>
                <li><a href="{% url 'premier_league:team_list' %}">Clubs</a></li>
                <li><a href="{% url 'premier_league:stadium_list' %}">Stadiums</a></li>
                <li><a href="{% url 'premier_league:news_list' %}">News</a></li>
            </ul>
        </div>
        <div>
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}! <a href="{% url 'premier_league:logout' %}">Logout</a></p>
            {% else %}
                <p><a href="{% url 'premier_league:register' %}">Register</a> | <a
                        href="{% url 'premier_league:login' %}">Login</a></p>
            {% endif %}
        </div>
    </div>

   <div>
    <h2>Latest News</h2>
    <ul>
        {% for news in news_list %}
            <li>
                <h3>{{ news.shortname }}</h3>
                <p>{{ news.description }}</p>
                <p><a href="{% url 'premier_league:news_detail' news.pk %}">Read more</a></p>
                {% if user.is_authenticated %}
                    <p>
                        <a href="{% url 'premier_league:create_comment' news.pk %}">Comments</a>: {{ news.comments.count }}
                    </p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
