{% extends 'base.html' %}
{% block title %}
    News
{% endblock %}
{% block body %}
    <h1>Latest News:</h1>
    <ul>
        {% for elem in news_list %}
            <li>
                <h3><a href="{% url 'premier_league:news_detail' elem.pk %}">{{ elem.shortname }}</a></h3>
                <p>Created at: {{ elem.created_at }}</p>
                <p>Comments: {{ elem.comments.count }}</p>
                {% if user.is_authenticated %}
                    <a href="{% url 'premier_league:news_detail' elem.pk %}">Read more</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <ul>
        <li>
            <a href="{% url 'premier_league:index' %}">Back to Home</a>
        </li>
    </ul>
{% endblock %}