{% extends 'base.html' %}

{% block title %}
    Premier League Home
{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: space-between;">
        <div>
            <h1>Welcome to the Premier League</h1>
            <ul>
                <li><a href="{% url 'premier_league:team_list' %}">Clubs</a></li>
                <li><a href="{% url 'premier_league:stadium_list' %}">Stadiums</a></li>
                <li><a href="{% url 'premier_league:news_list' %}">News</a></li>
            </ul>
        </div>
        <div>
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}! <a href="{% url 'premier_league:logout' %}">Logout</a></p>
            {% else %}
                <p><a href="{% url 'premier_league:register' %}">Register</a> | <a href="{% url 'premier_league:login' %}">Login</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
